.jayj-quicktag-table td{border-right:1px solid #ededed;border-bottom:1px solid #ededed;padding:8px}
.jayj-quicktag-table tr:nth-last-child(2) td,.jayj-quicktag-table tr:last-child td{border-bottom:0}
.jayj-quicktag-table tr td:last-child{border-right:0}
td.jayj-quicktag-remove{width:16px;vertical-align:middle}td.jayj-quicktag-remove .button{border-radius:50%;opacity:.75}
.jayj-quicktag-row:hover td.jayj-quicktag-remove .button{opacity:1}
td.jayj-quicktag-order{color:#aaa;cursor:move;font-size:15px;width:16px;text-align:center;vertical-align:middle}
.jayj-quicktag-row-placeholder{background:#e7e7e7;border:1px dotted #bbb;height:70px}
.jayj-quicktag-clone{display:none}
.jayj-quicktag-clone-show{display:table-row}.jayj-quicktag-clone-show .jayj-quicktag-order{color:#fff}
.jayj-quicktag-table-footer{margin-top:20px}.jayj-quicktag-table-footer #submit{margin-right:3px}
.jayj-quicktag-postboxes .postbox{float:left;width:48%;margin-right:2%}
.jayj-quicktag-postboxes .postbox:last-of-type{margin-right:0}
.js .jayj-quicktag-postboxes .hndle{cursor:pointer}
.jayj-quicktag-postboxes textarea{width:100%}
.jayj-quicktag-postboxes li{list-style:disc;margin-left:24px}
