/* CSS for Jayj Quicktag */
.jayj-quicktags-postbox { font-size: 13px; float: left; width: 48%; margin-right: 3%; }
.jayj-quicktags-postbox-last { margin-right: 0; }
.jayj-quicktags-postbox .hndle { cursor: pointer; }
.jayj-quicktags-postbox textarea, .jayj-quicktags-table input, .jayj-quicktags-table textarea { width: 95%; }
.jayj-quicktags-postbox li { list-style: disc; margin-left: 40px; }

/* Change order and remove button CSS */
.jayj-quicktags-table tr.jayj-clone { display: none; }
.jayj-quicktags-table .jayj-order { cursor: move; }

a.jayj-remove-button { display: block; font-size: 20px; visibility: hidden; }	
.jayj-quicktags-table > tbody > tr:hover a.jayj-remove-button { visibility: visible; }

.jayj-quicktags-table > tbody > tr > td {
	background: #fff;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 8px;
    position: relative;
}

.jayj-quicktags-table > tbody > tr:last-child td { border-bottom: 0 none; }
.jayj-quicktags-table > tbody > tr td:last-child { border-right: 0 none; }
.jayj-quicktags-table > thead > tr > th { border-right: 1px solid #e1e1e1; }
.jayj-quicktags-table > thead > tr > th:last-child { border-right: 0 none; }

.jayj-quicktags-table tr td.jayj-order,
.jayj-quicktags-table tr th.jayj-order {
	width: 16px;
	text-align: center;
	vertical-align: middle;
	color: #aaa;
	text-shadow: #fff 0 1px 0;
}

.jayj-quicktags-table .jayj-remove {
	width: 16px;
	vertical-align: middle;
}

.jayj-table-footer {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	padding: 8px 0;
}

.submit {
	float: left;
}

#jayj-add-button {
	margin:  1.9em 15px;
	float: left;
}
